{% extends 'layout-admin.njk' %}

{% block content %}

<form class="card container" method="POST" action="/admin">
    <section>
        <div class="create_recipe">
        <h3>Creating a new recipe</h3>

        <button type="submit">Save Recipe</button>
        </div>
        {% include 'admin/fields.njk'%}

    </section>

</form>

{% endblock content %}