
<div class="item">
    <div>Name</div>
    <div>
        <input 
            type="text" 
            name="name" 
            value="{{ chef.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Image</div>
    <div>
        <input 
            type="url" 
            name="image" 
            value="{{ chef.image }}"    
        >
    </div>
</div>


